name: credo_chocolatine

on:

  push:
    branches-ignore:
        - ga-ignore-
  pull_request:
    branches-ignore:
        - ga-ignore-
env:
  MIRROR_URL: https://github.com/EpitechPromo2026/B-DOP-200-COT-2-1-chocolatine-olouwachegoun.badou.git
  EXECUTABLES: pushwap


  workflow_dispatch:

jobs:
  check_repository_cleanliness:
  
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Unwanted file detected
        run: |
            my_variables=$(find . -type f \( -name "*.o" -o -name "*~" -o -name "#*" -o -name "*.a" -o -name "*.so" -o -name "*.gcno" -o -name "*.gcda" -o -name "*.gcov" -o -name "tmp" -o -name "*pain_au_chocolat*" \))
            for my in $my_variable
            do
              echo "::error file=${my#./}, title=Unwanted file detected::$(my#./}"
            done
            if [[ -n $my_variables ]]
            then
             exit 1
            else
             echo "No unwanted file detected"
             fi
  #check_program_compilation:
  #  needs: check_repository_cleanliness
  #  runs-on: ubuntu-latest
  #  container:
  #    image: epitechcontent/epitest-docker

  #  steps
  #    - uses: actions/checkout@v3

  #    -name: make
  #     run: make
  #     timeout-minutes: 2
  #    -name: make clean
  #     run: |
  #        make clean
  #        bin=$(find $EXECUTABLES)
          
  #        if [[ -n $bin ]]
  #        then
  #         echo "file is here"
  #        else
  #         exit 1
  #        fi
  #        if [[ -x $bin ]]
  #        then
  #         echo "file is executable"
  #        else
  #         exit 1
  #        fi 
      # Runs a set of commands using the runners shell
      #- name: Run a multi-line script
      #  run: |
      #    echo Add other actions to build,
      #    echo test, and deploy your project.